{% extends 'index.html' %}

{% block content %}
<div class="members_cards">
    <div class="register-container">
        <h1>Members List</h1>
        <div class="Members">
            <div class="members-header">
                <div class="members-list">Members List</div>
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
            <tr>
                <td>2021-8-0210</td>
                <td>Mark John As</td>
                <td>3rd year</td>
            </tr>
            <tr>
                <td>2021-8-0215</td>
                <td>Jacob Martin</td>
                <td>4th year</td>
            </tr>
            <tr>
                <td>2021-9-4521</td>
                <td>Larry the Bird</td>
                <td>1st year</td>
            </tr>
            <tr>
                <td>2021-8-0230</td>
                <td>Emily White</td>
                <td>2nd year</td>
            </tr>
            <tr>
                <td>2021-9-0487</td>
                <td>Sophia Cruz</td>
                <td>4th year</td>
            </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
