@import url('https: //fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,100&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 200;

}

body {
    font-family: "Poppins", sans-serif;
    font-size: x-small;
    display: flex;
    font-weight: 300;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.background-image-container {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main {
    backdrop-filter: blur(100px);
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

main header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 1em 5em 0 5em;
}



header .decorative-line {
    height: .5px;
    background: rgb(173, 172, 172);
    width: 100%;
    position: absolute;
    top: 8em;
    left: 0;
}

header .navigations {
    margin-top: 2em;
}

main header .navigations {
    display: flex;
    align-items: flex-end;
    gap: 5em;

}

main header .navigations a {
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    white-space: nowrap;
    margin-top: -15px;
}

main header .navigations a:hover {
    transition: 0.1s ease;
    color: #0aa32e;


}


main header .labels {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 2em;
    font-weight: 600;
    color: rgb(57, 133, 28);
}

main header .labels .name img {
    width: 3em;
    height: 3em;
}

main header .labels .name {
    display: flex;
    align-items: center;
    gap: 0.5em;
}


main .content .home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding: 15em 0 0 0;
}

main .content .home img {
    flex-direction: row;
    border-radius: 100em;
    width: 40em;
    height: 40em;
    object-fit: cover;
}

main .content .home h1 {
    font-size: 8em;
    text-align: left;
    line-height: 1.2;
    margin: 0;
}

main .content p {
    font-size: 2em;
    text-align: left;
    margin-top: -4.6em;
    margin-left: 13.5em;
    line-height: 1.5;
    color: #888888;

}

.get-started-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 1.54em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    margin-left: 17.3em;
    display: inline-block;

}

.get-started-button:hover {
    background-color: #218838;
}


.sign-in-container {
    display: flex;
    flex-direction: column;
    font-family: "poppins", sans-serif;
    color: rgb(24, 23, 23);
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    font-size: 15px;
    width: 30rem;
    margin: auto;
    position: relative;
    top: 10rem;
    margin-bottom: 42em;
    gap: 20px;
    border: #0aa32e;
}


.form-group input {
    color: #2b2b2b;
    border-color: #D9D9D9;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin-top: 15px;
    border-radius: 10px;
    width: 20rem;

}


.form-group-button button {
    background-color: #28a745;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin-top: 20px;
    width: 20rem;

}

.form-group-button a{
    color: white;
}

button:hover {
    background-color: #218838;
}


footer {
    margin-top: auto;
    text-align: center;
    padding: 1em;
    font-size: 1.5em;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 59, 11);
}

.register-container {
    display: flex;
    flex-direction: column;
    font-family: "poppins", sans-serif;
    color: rgb(24, 23, 23);
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    font-size: 15px;
    width: 30rem;
    margin: auto;
    position: relative;
    top: 10rem;
    gap: 20px;
    border: #0aa32e;
}

.register-container button {
    background-color: #28a745;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin-top: 20px;
    width: 20rem;
}

.register-container a {
    color: white;
}

.page-category {

}

.user-dashboard {
    display: flex; 
    justify-content: space-between; 
  }

.dashboard-notification{ 
    background-color: white;
    color: black;
    border-radius: 1em;
    padding: 2em; 
}

.dashboard-calendar { 
    background-color: white;
    color: black;
    border-radius: 1em;
    padding: 2em; 
}