{% extends "index.html" %}
{% load static %}
{% block content %}
<head>
  <link rel="stylesheet" href="{% static "/css/index-style.css" %}">
</head>
<body>
  <div class="container-fluid">  <!-- Use container-fluid to take up full width -->
    <div class="page-inner">
      <div class="page-category">
        <div class="container-fluid"> <!-- Ensure the container stretches fully -->
          <div class="page-inner">
            <h1>ATTENDANCE RECORDS</h1>
            <div class="add_attendance"> 
              <button>Add New Attendance</button>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">Basic</h4>
                  </div>
                  <div class="row1">
                    <div class="col-md1">
                      <div class="data" id="basic-datatables_length">
                        <label>Show 
                          <select name="basic-datatables_length" aria-controls="basic-datatables" class="form-control form-control-sm">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                          </select> Entries
                        </label>
                      </div>
                    </div>
                    <div class="col-md2">
                      <div id="basic-datatables_filter" class="dataTables_filter">
                        <label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="basic-datatables"></label>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table id="basic-datatables" class="display table table-striped table-hover">
                        <thead>
                          <tr>
                            <th>Log-in - AM</th>
                            <th></th>
                            <th>Log-out - AM</th>
                            <th></th>
                            <th>Log-in - PM</th>
                            <th></th>
                            <th>Log-out - PM</th>
                            <th></th>
                          </tr>
                          <tr>
                            <th>Name</th>
                            <th>ID</th>
                            <th>Name</th>
                            <th>ID</th>
                            <th>Name</th>
                            <th>ID</th>
                            <th>Name</th>
                            <th>ID</th>
                          </tr>
                        </thead>
                        <tfoot>
                          <tr>
                            <th>Total:</th>
                            <th>Total:</th>
                            <th>Total:</th>
                            <th>Total:</th>
                            <th>Total:</th>
                            <th>Total:</th>
                            <th>Total:</th>
                            <th>Total:</th>
                          </tr>
                        </tfoot>
                        <tbody>
                          <tr>
                            <td>Tiger Nixon</td>
                            <td>202180345</td>
                            <td>Tiger Nixon</td>
                            <td>202180345</td>
                            <td>Tiger Nixon</td>
                            <td>202180345</td>
                            <td>Tiger Nixon</td>
                            <td>202180345</td>
                          </tr>
                          <tr>
                            <td>Edward Smith</td>
                            <td>202180456</td>
                            <td>Edward Smith</td>
                            <td>202180456</td>
                            <td></td>
                            <td></td>
                            <td>Edward Smith</td>
                            <td>202180456</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="sort_by_container">
                  <div class="sort_by_member">
                    <p>SORT BY MEMBERS</p>
                    <button>Gender</button>
                    <button>Year Level</button>
                  </div>
                  <div class="sort_by_events">
                    <p>SORT BY EVENTS</p>
                    <button>Choose Events</button>
                    <button>Select Date</button>
                  </div>
                </div>
              </div>
           </div>
        </div>
      </div>
    </div>
  </div>

  <!--   Core JS Files   -->
  <script src="../assets/js/core/jquery-3.7.1.min.js"></script>
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>

  <!-- jQuery Scrollbar -->
  <script src="../assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
  <!-- Datatables -->
  <script src="../assets/js/plugin/datatables/datatables.min.js"></script>
  <!-- Kaiadmin JS -->
  <script src="../assets/js/kaiadmin.min.js"></script>
  <!-- Kaiadmin DEMO methods, don't include it in your project! -->
  <script src="../assets/js/setting-demo2.js"></script>
  <script>
    $(document).ready(function () {
      $("#basic-datatables").DataTable({});
    });
  </script>
</body>
{% endblock content %}
