{% extends "index.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="page-inner">
      <div class="page-header">
        <h4 class="page-title">Dashboard</h4>
      </div>
      <div class="page-category">
        <div class="create-event-container">
          <div class="event-name">
            <p>Event Name: <input type="event-name" id="event-name" name="event-name" required></p>
          </div>
          <div class="event-details">
            <p>Event Details: <br> <input type="event-details" id="event-details" name="event-details" required> </p>
          </div>
          <div class="add-new-attendance">
            <button>Add new Attendance</button>
          </div>
        </div>
        <div class="events">
          <div class="event-container">
            <div class="event1">
              <p>Science Month</p>
            </div>
            <div class="details">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at leo vitae urna lobortis porttitor. Nulla sit amet volutpat enim, vitae condimentum ipsum.</p>
            </div>
            <div class="event-days">
              <button>DAY 1</button>
              <button>DAY 2</button>
              <button>DAY 3</button>
              <button>DAY 4</button>
              <button>DAY 5</button>
            </div>
          </div>
          <div class="event-container">
            <div class="event1">
              <p>Binturungan</p>
            </div>
            <div class="details">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at leo vitae urna lobortis porttitor. Nulla sit amet volutpat enim, vitae condimentum ipsum.</p>
            </div>
            <div class="event-days">
              <button>DAY 1</button>
              <button>DAY 2</button>
              <button>DAY 3</button>
              <button>DAY 4</button>
              <button>DAY 5</button>
            </div>
          </div>
          <div class="event-container">
            <div class="event1">
              <p>General Assembly</p>
            </div>
            <div class="details">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at leo vitae urna lobortis porttitor. Nulla sit amet volutpat enim, vitae condimentum ipsum.</p>
            </div>
          </div>
        </div>
        <div class="events">
          <div class="event-container">
            <div class="event1">
              <p>Science Month</p>
            </div>
            <div class="details">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at leo vitae urna lobortis porttitor. Nulla sit amet volutpat enim, vitae condimentum ipsum.</p>
              </div>
          </div>
          <div class="event-container">
            <div class="event1">
              <p>Binturungan</p>
            </div>
            <div class="details">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at leo vitae urna lobortis porttitor. Nulla sit amet volutpat enim, vitae condimentum ipsum.</p>
              </div>
          </div>
          <div class="event-container">
            <div class="event1">
              <p>General Assembly</p>
            </div>
            <div class="details">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at leo vitae urna lobortis porttitor. Nulla sit amet volutpat enim, vitae condimentum ipsum.</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %} 